@model Empleado
@{
    ViewData["Title"] = "Index";
}

<a asp-action="Subordinados" asp-controller="Empleados">
    Mis empleados
</a>

<h1 style="color:blue">Perfil de @Model.Apellido</h1>
<dl class="row">
    <dt class="col-sm-3">Oficio</dt>
    <dd class="col-sm-9">@Model.Oficio</dd>
    <dt class="col-sm-3">Salario</dt>
    <dd class="col-sm-9">@Model.Salario</dd>
    <dt class="col-sm-3">Director</dt>
    <dd class="col-sm-9">@Model.Director</dd>
</dl>
