<nav class="navbar navbar-expand-lg navbar-dark text-white bg-green">
    <i class="navbar-brand">
        <img src="~/Media/Img/tcap_logo.png" class="rounded-circle logo" />
        <span class="text-white h4 logo_title">The <span class="text-coins">Coins</span> Are <span class="text-points">Points</span>?</span>
    </i>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        if (HttpContext.Current.User.IsInRole("1"))
        {
            @Html.Partial("_LayoutMenuClient")
        }
        else
        {
            @Html.Partial("_LayoutMenuPlayer")
        }
    }
    else
    {
        @Html.Partial("_LayoutMenu")
    }
</nav>
