USE [master]
GO
/****** Object:  Database [PELICULAS]    Script Date: 30/01/2019 14:14:08 ******/
CREATE DATABASE [PELICULAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PELICULAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PELICULAS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PELICULAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PELICULAS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PELICULAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PELICULAS]
GO
USE [PELICULAS]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 30/01/2019 14:14:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Direccion] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[CPostal] [int] NULL,
	[PaginaWeb] [nvarchar](50) NULL,
	[Imagen_Cliente] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distribuidoras]    Script Date: 30/01/2019 14:14:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distribuidoras](
	[IdDistribuidor] [int] NOT NULL,
	[Distribuidor] [nvarchar](50) NULL,
	[Direccion] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[PaginaWeb] [nvarchar](50) NULL,
	[Telefono] [int] NULL,
	[Contacto] [nvarchar](50) NULL,
	[Logo] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Generos]    Script Date: 30/01/2019 14:14:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Generos](
	[IdGenero] [int] NOT NULL,
	[Genero] [nvarchar](50) NULL,
 CONSTRAINT [PK_Generos] PRIMARY KEY CLUSTERED 
(
	[IdGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nacionalidad]    Script Date: 30/01/2019 14:14:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nacionalidad](
	[IdNacionalidad] [int] NULL,
	[Nacionalidad] [nvarchar](50) NULL,
	[Bandera] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 30/01/2019 14:14:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[idPedido] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NULL,
	[IdPelicula] [int] NULL,
	[Cantidad] [int] NULL,
	[Fecha] [datetime] NOT NULL,
	[Precio] [int] NULL,
 CONSTRAINT [PK_Pedidos] PRIMARY KEY CLUSTERED 
(
	[idPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Peliculas]    Script Date: 30/01/2019 14:14:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peliculas](
	[IdPelicula] [int] NOT NULL,
	[IdDistribuidor] [int] NULL,
	[IdGenero] [int] NULL,
	[Titulo] [nvarchar](255) NULL,
	[IdNacionalidad] [int] NULL,
	[Argumento] [nvarchar](max) NULL,
	[Foto] [nvarchar](50) NULL,
	[Fecha_Estreno] [datetime] NULL,
	[Actores] [nvarchar](max) NULL,
	[Director] [nvarchar](50) NULL,
	[Duracion] [int] NULL,
	[Precio] [int] NULL,
	[YouTube] [nvarchar](255) NULL,
	[EnlaceVideo] [nvarchar](255) NULL,
 CONSTRAINT [PK_Peliculas] PRIMARY KEY CLUSTERED 
(
	[IdPelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
