
@{
    ViewData["Title"] = "Index";
}

<h2>CRUD Api Departamentos</h2>

<ul>
    <li>
        <a asp-controller="Departamentos" asp-action="DepartamentosCliente">
            CRUD Api Departamentos Cliente (Ajax)
        </a>
    </li>
    <li>
        <a asp-controller="Departamentos" asp-action="DepartamentosServidor">
            CRUD Api Departamentos Servidor (C#)
        </a>
    </li>
    <li>
        <a asp-controller="Departamentos" asp-action="EmpleadosDepartamento">
            Empleados Departamento
        </a>
    </li>
</ul>

