@using TCAP_2._0.Models.Class
@model List<Pub>
@{
    ViewBag.Title = "Establecimientos";
}
<main>
    <div class="row">
        <div class="col s2">
            <a href="@Url.Action("CreatePub", "Client")" class="btn-floating btn-large waves-effect waves-light user"><i class='material-icons'>add</i></a>
        </div>
        <div class="col s8 center-align">
            <h3>Tus Establecimientos</h3>
        </div>
        <div class="col s2"></div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            @if (Model != null && Model.Count > 0)
            {
                <table class="highlight s10">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Pub item in Model)
                        {
                            @Html.Partial("_Pubs", item)
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h3 class="red-text">No tiene ningún establecimiento.</h3>
            }
        </div>
    </div>
</main>
@section script
{
    <script>
        $('.dropdown-trigger').dropdown();
    </script>
}
