@{
    ViewBag.Title = "Inicio";
}
@Html.Partial("_LayoutHeader")
<main>
    <div class="row">
        <div class="col s12 center-align">
            <h3>Partidas Recientes</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="highlight s10">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Lugar</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    @Html.Partial("_LayoutParties")
                </tbody>
            </table>
        </div>
    </div>
</main>
@section Script
{
    <script>
            $(document).ready(function(){
                $('.modal').modal();
            });
    </script>

}
@Html.Partial("_LayoutFooter")

