@using TCAP_2._0.Models.Class
@model List<Party>
@{
    ViewBag.Title = "Partidas";
}
@Html.Partial("_LayoutHeader")

<main>
    @if (Model != null && Model.Count() > 0)
    {
        @Html.Partial("_LayoutTableActiveParty", Model)
        <hr />
        @Html.Partial("_LayoutTableCloseParty", Model)
    }
    else
    {
        <p class="red-text">NO TIENES NINGUNA PARTIDA</p>
    }
    @*<div class="row">
                <div class="col s9 m9 center-align">
                    <h3>Partidas activas</h3>
                </div>
                <div class="col s3 m3">
                    <h3>Partidas cerras</h3>
                </div>
            </div>
                    <div class="row">
                        <div class="col s9 m9">
                            <div class="col s12 m6">
                                <div class="card client modal-trigger" data-target='info_1'>
                                    <div class="card-content">
                                        <span class="card-title activator grey-text text-darken-4">Colonos de Catán<i class="material-icons right">more_vert</i></span>
                                        <p>16/02/1993 16:00:00</p>
                                        <p>bAR LOS JARDINES</p>
                                        <p>4/4 participantes</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s3 m3">
                            <div class="col s12 m12">
                                <div class="card user">
                                    <div class="card-content">
                                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

        <div id="info_1" class="modal">
            <div class="modal-content">
                <h3>Participantes</h3>
                <ul>
                    <li>LALALSL</li>
                    <li>SDSADAS</li>
                    <li>LALALSL</li>
                    <li>SDSADAS</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="user">Cerrar</button>
                <button class="client">suspender</button>
                <button class="red">Borrar</button>
            </div>
        </div>*@
</main>


@section Script
{
    <script>
        $(document).ready(function () {
            $('.modal').modal();
        });
    </script>

}
@Html.Partial("_LayoutFooter")

