
@{
    ViewBag.Title = "Index";
}
@Html.Partial("_LayoutNav")
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="d-flex flex-wrap">
                    <div class="col-sm-12 col-md-6">
                        <div class="card bg-warning" id="card1" data-toggle="modal" data-target="#exampleModalCenter">
                            <div class="card-body">
                                <span class="card-title">Los colonos de catán</span>
                                <i class="fas fa-lock-open float-right"></i>
                                <p class="card-subtitle">16/02/2019 16:00:00</p>
                                <p class="float-right">2/4</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="card bg-warning">
                            <div class="card-body">
                                <span class="card-title">Los colonos de catán</span>
                                <p class="card-subtitle">16/02/2019 16:00:00</p>
                                <p class="float-right">2/4</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="card bg-warning">
                            <div class="card-body">
                                <span class="card-title">Los colonos de catán</span>
                                <p class="card-subtitle">16/02/2019 16:00:00</p>
                                <p class="float-right">2/4</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">

                <div class="d-flex flex-wrap">

                    <div class="col-12">
                        <div class="card bg-danger">
                            <div class="card-body">
                                <span class="card-title">Los colonos de catán</span>
                                <i class="fas fa-lock float-right"></i>
                            </div>
                        </div>
                    </div>


                    <div class="col-12">
                        <div class="card bg-danger">
                            <div class="card-body">
                                <span class="card-title">Los colonos de catán</span>
                            </div>
                        </div>
                    </div>


                    <div class="col-12">
                        <div class="card bg-danger">
                            <div class="card-body">
                                <span class="card-title">Los colonos de catán</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</main>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_LayoutFooter")


