
@{
    ViewData["Title"] = "Index";
}

<h2>Consumo Web Api RestFul</h2>

<ul>
    <li>
        <a asp-controller="Empleados" 
asp-action="EmpleadosCliente">
            Api Empleados Ajax
        </a>
    </li>
    <li>
        <a asp-controller="Empleados" 
asp-action="EmpleadosServidor">
            Api Empleados Servidor C#
        </a>
    </li>
</ul>

