
@{
    ViewBag.Title = "Error";
}

<center>
    <div class="container">
        <div class="row"></div>
        <div class="z-depth-1 grey lighten-4" style="display: inline-block; padding: 35px; border: 1px solid #EEE;">
            <h2 class="red-text">Error</h2>
        </div>
        <div class="row"></div>
    </div>
</center>

