
@{
    ViewBag.Title = "Index";
}

<h2>Índice</h2>
<ul>
    <li>
        @Html.ActionLink("Suma", "Suma", "Practica")
    </li>
    <li>
        @Html.ActionLink("Enlaces Random", "EnlacesRandom", "Practica")
    </li>
    <li>
        @Html.ActionLink("Tabla de Multiplicar", "TablaMultiplicar", "Practica")
    </li>
    <li>
        @Html.ActionLink("Tabla de Multiplicar 2.0", "TablaMultiplicarObjeto", "Practica")
    </li>
</ul>

