
@{
    ViewBag.Title = "ContenidoContent";
}

<h2>Contenido con Content</h2>
@using (Html.BeginForm())
{
    <input type="text" name="video" class="form-control" />
    <button type="submit" class="btn-danger">Mostrar video</button>
}
