
@{
    ViewBag.Title = "Empresas";
}

<h2>@ViewBag.Title</h2>
<ul>
    @foreach (String item in Model)
    {
    <li>
        @Html.ActionLink(item, "BusinessInfo", "Info",new { id = item },null)
    </li>
    }
</ul>


