
@{
    ViewBag.Title = "Index";
}

<h2>Menú principal</h2>
<p>Toda la información de las Empresas Top del Mercado.</p>
<p>Puedes informate sobre :</p>
<ul>
    <li>
        Datos Generale.
    </li>
    <li>
        Pedidos Realizados.
    </li>
</ul>

