@model TCAP.Models.User
@{
    ViewBag.Title = "PlayerConfirm";
    Layout = "~/Views/Shared/_LayoutNoHeaderFooter.cshtml";
}
<center>
    <div class="container">
        <div class="row"></div>
        <div class="z-depth-1 grey lighten-4" style="display: inline-block; padding: 35px; border: 1px solid #EEE;">
            @if (!(Model is null))
            {
                <h2>Player Confirm Correct</h2>
                <h3>Hola @Model.Name @Model.Surname</h3>
            }
        </div>
        <div class="row"></div>
    </div>
</center>
