
@{
    ViewBag.Title = "Principal";
    ViewBag.HeaderFooter = true;
}
<div class="carousel carousel-slider">
    <a class="carousel-item grab" href=""><img src="~/Media/img/nav.jpg" /></a>
    <a class="carousel-item grab" href=""><img src="~/Media/img/img1.png" /></a>
</div>
<main>
    <div class="row">
        <div class="col s12 center-align">
            <h1>Jugadores</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col l6 m12 s12">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="~/Media/img/img-Box.png" />
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Nuestra existencia sois vosotros<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Nuestra existencia sois vosotros</span>
                    <p>Una aplicación realizada por y para personas que aman los juegos de mesa, y por ello, sin vosotros, esta aplicación carece de sentido.</p>
                    <p>No permitas que el corazoncito de esta maravillosa app deje de latir <i class="fas fa-heartbeat"></i></p>
                    <p>Deseamos seguir creciendo y aportar la misma felicidad que la que pueda dar cualquiera de los miles de juegos de mesa.</p>
                </div>
            </div>
        </div>
        <div class="col l6 m12 s12">
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, accumsan augue quisque sapien vulputate sed laoreet, iaculis id elementum mauris luctus parturient. Odio semper hendrerit mauris taciti et ante, tempus at turpis risus congue duis, velit tellus sed suscipit class. Arcu curabitur himenaeos iaculis inceptos parturient risus mus, pharetra lacinia tortor nunc rutrum odio quam, hendrerit habitant accumsan ridiculus quisque donec.At facilisis imperdiet quam rhoncus parturient posuere eget, auctor faucibus sed habitant fermentum vestibulum, pulvinar penatibus felis suscipit vivamus habitasse. Dui egestas a cursus maecenas proin lobortis laoreet montes, congue tempor velit blandit faucibus aenean porta id, erat at posuere urna magnis odio nunc. Praesent commodo dictumst velit enim interdum posuere egestas fames, metus himenaeos nascetur parturient mattis neque nec, condimentum natoque duis hendrerit non cras fringilla.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, accumsan augue quisque sapien vulputate sed laoreet, iaculis id elementum mauris luctus parturient. Odio semper hendrerit mauris taciti et ante, tempus at turpis risus congue duis, velit tellus sed suscipit class. Arcu curabitur himenaeos iaculis inceptos parturient risus mus, pharetra lacinia tortor nunc rutrum odio quam, hendrerit habitant accumsan ridiculus quisque donec.At facilisis imperdiet quam rhoncus parturient posuere eget, auctor faucibus sed habitant fermentum vestibulum, pulvinar penatibus felis suscipit vivamus habitasse. Dui egestas a cursus maecenas proin lobortis laoreet montes, congue tempor velit blandit faucibus aenean porta id, erat at posuere urna magnis odio nunc. Praesent commodo dictumst velit enim interdum posuere egestas fames, metus himenaeos nascetur parturient mattis neque nec, condimentum natoque duis hendrerit non cras fringilla.</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="fas fa-dice"></i>Juega</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-handshake"></i>Conoce</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-smile"></i>Diviertete</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <h1>Clientes</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col l6 m12 s12">
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, accumsan augue quisque sapien vulputate sed laoreet, iaculis id elementum mauris luctus parturient. Odio semper hendrerit mauris taciti et ante, tempus at turpis risus congue duis, velit tellus sed suscipit class. Arcu curabitur himenaeos iaculis inceptos parturient risus mus, pharetra lacinia tortor nunc rutrum odio quam, hendrerit habitant accumsan ridiculus quisque donec.At facilisis imperdiet quam rhoncus parturient posuere eget, auctor faucibus sed habitant fermentum vestibulum, pulvinar penatibus felis suscipit vivamus habitasse. Dui egestas a cursus maecenas proin lobortis laoreet montes, congue tempor velit blandit faucibus aenean porta id, erat at posuere urna magnis odio nunc. Praesent commodo dictumst velit enim interdum posuere egestas fames, metus himenaeos nascetur parturient mattis neque nec, condimentum natoque duis hendrerit non cras fringilla.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, accumsan augue quisque sapien vulputate sed laoreet, iaculis id elementum mauris luctus parturient. Odio semper hendrerit mauris taciti et ante, tempus at turpis risus congue duis, velit tellus sed suscipit class. Arcu curabitur himenaeos iaculis inceptos parturient risus mus, pharetra lacinia tortor nunc rutrum odio quam, hendrerit habitant accumsan ridiculus quisque donec.At facilisis imperdiet quam rhoncus parturient posuere eget, auctor faucibus sed habitant fermentum vestibulum, pulvinar penatibus felis suscipit vivamus habitasse. Dui egestas a cursus maecenas proin lobortis laoreet montes, congue tempor velit blandit faucibus aenean porta id, erat at posuere urna magnis odio nunc. Praesent commodo dictumst velit enim interdum posuere egestas fames, metus himenaeos nascetur parturient mattis neque nec, condimentum natoque duis hendrerit non cras fringilla.</p>
        </div>
        <div class="col l6 m12 s12">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="~/Media/img/img-Box2.png" />
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Nuestra vida sois vosotros<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Nuestra vida sois vosotros</span>
                    <p>Porque sin vuestra ayuda, nosotros sólo seríamos una aplicación más del montón.</p>
                    <p>Sois nuestro órgano más vital, sois los responsables de que toda esta aplicación pueda funcionar, que pueda ser distinta.</p>
                    <p>Expandir la comunidad, ayudarnos mutuamente y poder beneficiarnos todos por igual.</p>
                    <p>Si tienes un bar, si no te importa que gente vaya a jugar, y te gusta la publicidad gratuita, este es tu sitio.</p>
                </div>
            </div>
        </div>
    </div>
</main>

