@using TCAP_2._0.Models.Class
@model Party

    <div class="col s12 m6">
        <div class="card client modal-trigger" style="cursor: pointer;" data-target="info_@Model.Id_Party">
            <div class="card-content">
                <span class="card-title grey-text text-darken-4">@Model.Boargame_Party</span>
                <i class="right-align fas fa-lock-open"></i>
                <p>@Model.Start_Party</p>
                <p class="right-align">@Model.Current_Participant_Party/@Model.Max_Participant_Party</p>
            </div>
        </div>
    </div>


