<div class="menu">
    <ul class="right">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Iniciar Sesión", "Login", "Account")</li>
        <li>@Html.ActionLink("Regístrate", "Register", "Account")</li>
    </ul>
</div>

