@using TCAP_2._0.Models.Class
@model Party

    <div class="col s12 m12">
        <div class="card user modal-trigger" style="cursor: pointer;" data-target="info_@Model.Id_Party">
            <div class="card-content">
                <span class="card-title grey-text text-darken-4">@Model.Boargame_Party</span>
                <i class="right-align fas fa-lock"></i>
            </div>
        </div>
    </div>




