@using TCAP_2._0.Models.Class
@model Pub
<tr data-target='info_@Model.Id_Pub' class="modal-trigger" style="cursor: pointer;">
    <td>@Model.Name_Pub</td>
    @if (Model.Status_Pub == 1)
    {
        <td>
            <i class="red-text fas fa-lock"></i>
        </td>
        <td>
            @Html.ActionLink("Abrir", "OpenPub", "Client", new { id = Model.Id_Pub }, new { @class = "btn waves-effect green black-text" })
        </td>
    }
    else
    {
        <td>
            <i class="green-text fas fa-lock-open"></i>
        </td>
        <td>
            @Html.ActionLink("Cerrar","ClosePub","Client",new { id = Model.Id_Pub},new { @class = "btn waves-effect red black-text" })
        </td>

    }
</tr>

