<nav class="nav-extended light-green darken-1">
    <div class="nav-background">
        <div class="pattern active" style="background-image: url('../../Media/img/nav.jpg');background-repeat: no-repeat;"></div>
    </div>
    <div class="nav-wrapper container">
        <div class="nav-header center">
            <img src="~/Media/img/tcap_logo.png" width="240vh" height="140vh">
        </div>
    </div>
</nav>
@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    if (HttpContext.Current.User.IsInRole("1"))
    {
        @Html.Partial("_LayoutMenuClient")
    }
    else
    {
        @Html.Partial("_LayoutMenuPlayer")
    }
}
else
{
    @Html.Partial("_LayoutMenu")
}
