@using TCAP_2._0.Models.Class
@model List<Party>
@{ int i = 0;}
<div class="row">
    <div class="col s12 center-align">
        <h3>Partidas Jugadas</h3>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <table class="highlight s10">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Lugar</th>
                    <th>Nº Participantes</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Party item in Model)
                {
                    if (item.Status_Party == 3 && item.Start_Party < DateTime.Now)
                    {
                        @Html.Partial("_LayoutParties", item)
                        i++;
                    }
                }
                @if (i == 0)
                {
                <tr>
                    <td class="red-text center-align" colspan="4">NINGUNA PARTIDA JUGADA</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

