@using TCAP_2._0.Models.Class
<tr data-target="info" class="modal-trigger" style="cursor: pointer;">
    <td>04/05/2018</td>
    <td>BAR Los jardines</td>
    <td class="red-text"><i class="fas fa-times"></i></td>
    <div id="info" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
</tr>

