<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Storage" value="DefaultEndpointsProtocol=https;AccountName=storagetajamardpc;AccountKey=cmkpew6tx/l3nZ7tQTOyGP0FRNdoJAgJt6F9gpJsJgod+fXBwdN5d0fGPe3V9umK0KF1K3tDj+/DlDAvtLyZpg==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>