body{
    width:100%;
    height:100%;
}

header {
    width: 90%;
    height: 20%;
    border: 1px solid black;
    border-radius:15px;
    margin:0 auto;
    text-align:center;
}

section {
    width: 90%;
    height: 30%;
    border: 1px solid black;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0px;
}


button {
    width:10%;
    height:10%;
    border: 1px solid black;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0px;
    cursor:pointer;
}

input[type='number']{
    border:1px solid black;
    margin:5px 0px;
}

article {
    width: 90%;
    height: 30%;
    border: 1px solid black;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0px;
}

img{
    width:300px;
    height:200px;
}

table, th, td {
    border: 1px solid;
    margin: 0 auto;
}

    table tr td {
        cursor: pointer;
    }