@using TCAP_2._0.Models.Class
@model List<Pub>
@{
    ViewBag.Title = "Establecimientos";
}
@Html.Partial("_LayoutHeader")

<main>
    @if (Model != null && Model.Count() > 0)
    {
        @Html.Partial("_LayoutTableActivePub", Model)
        <hr />
        @Html.Partial("_LayoutTableClosePub", Model)
    }
    else
    {
        <p class="red-text">NO TIENES NINGÚN ESTABLECIMIENTO</p>
    }
</main>

@section Script
{
    <script>
            $(document).ready(function(){
                $('.modal').modal();
            });
    </script>

}
@Html.Partial("_LayoutFooter")
