<header>
    <div 
    <nav class="navbar navbar-expand-lg complement justify-content-between"> 
        <span class="navbar-brand">
            <img src="~/Images/tcap_logo.png" class="logo" />
            <span class="h4">The Coins Are Points?</span>
        </span>
        <i data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation" class="fas fa-bars navbar-toggler text-principal"></i>
        <div class="collapse navbar-collapse text-principal" id="menu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
